//Fonts
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$fredoka: 'Fredoka One', cursive;
$gantari: 'Gantari', sans-serif;

//Colors
$green : #83e18c;
$pink: #c179c6;
$lightBlue: #e9d077;
/* $lightBlue: #69d1d9;
 */$violet: #5c499e;
$dark: #161616;
/* $dark: #4e2770; */
$white: #ffffff;

/* $green : #17e872;
$pink: #e55194;
$lightBlue: #00a3a3;
$violet: #a23ae8;
$dark: #161616;
$white: #ffffff;
 */


