    
.index {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;

    //ALIEN QUE SE ASOMA
    .alien {
        fill: $green;
        stroke: $dark; 
        stroke-width:1.1rem;
        stroke-miterlimit:10;
        position: absolute;
        
    
        &__head {
            @extend .alien;
            width:  10.5rem;
            left: 2%;
            top: 15%; 
            animation: fade-in-alien 700ms forwards ease-out;
        }
    
        &__hand--right {
            @extend .alien;
            width: 10.5rem;
            z-index: 10;
            top: -1rem;
            right: 20%;
        }
    
        &__hand--left {
            @extend .alien; 
            left: 30%;
            bottom: -2.2rem; 
            width:  10.5rem;
            z-index: 10;
            
        }
    
    }
    

    .principal {
        width: 75%;
        height: 80%;
        background-color: $green;
        margin: 2.5rem 0 2.5rem -1.5rem;
        position: absolute;
        border: .25rem solid $dark;
        display: flex;
        filter: drop-shadow(1.25rem 1.25rem $dark);  
        border-radius: 1.6rem;  
    

        &-textos {
            display: flex;
            flex-direction: column;

            p {
                    font-family: $fredoka;
                    color: $dark;     
            }

            .creative {
                    color: $white;             
                    cursor: default;
                    transition: all 0.3s ease-out;
                    padding: 0 0.5rem;
                    border-radius: 5px;
            }
            

            .text {
                font-family: $gantari;
                color: $violet;
            }
        }


    }
}

//      CELULAR

@media only screen and (min-width: 0px) {

    .index {

        .principal {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;


            .foto-gonza {
                width: 80%;
                margin-bottom: 2rem;
            }

            &-textos {
                text-align: center;

                p {
                    font-size: 2.2rem;
                    margin-bottom: 1.6rem;

                    &:first-child {
                        font-size: 1.8rem;
                        color: $violet;
                    }

                    span {
                        font-size: 2rem;
                        color: $violet;
                    }

                    .gonza-text{
                        @include text($fredoka, 2.3rem, $white);
                        -webkit-text-stroke: 1px $violet;                        
                    }

                    .creative {
                        font-size: 2rem;    
                        color: $white;
                        background-color: $violet;                         
                    }
                }                    
                .text {
                    font-size: 1.3rem
                }
            }            
        }
    }
}



//      COMPU

@media only screen and (min-width: 992px) {
    .index {
        
        .principal {
            margin-top: 2.5rem;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 0 2rem;

            .foto-gonza {
                height: 60%;
                width: auto;
            }

            &-textos {                
                align-content: flex-start;
                text-align: left;
                margin-left: 3rem;

                    p {
                        font-size: 3.5rem;
                        margin-bottom: 1rem;

                        &:first-child {
                            font-size: 2rem;
                            color: $dark;
                        }

                        span {
                            font-size: 2rem;
                            color: $violet;
                        }



                        .gonza-text{
                            font-size: 2.2rem;
                            color: $violet;
                            -webkit-text-stroke: 0px;
            
                            &:hover {
                                color: $dark;
                                font-size: 2.5rem;
                                margin-right: 0.2rem;
                                border-radius: 5px;
                                cursor: default;
                                transition: all 0.3s ease-out;
                            }    
                        }

                        .creative {
                            font-size: 3.5rem; 
                            
                            &:hover {
                                color: $white;
                                background-color: transparent;
                                -webkit-text-stroke: 1.5px $violet;
                                padding: 0;
                            }
                        }
                    }
                                
                    .text {
                        font-size: 1.5rem;
                    }                            
            }
        }
    }
}




//  ANIMACIONES


.floating {
    animation: floating-section 2s ease-in-out infinite;
}

