
.que-hice {
    align-items: center;
    justify-content: center;

    .blob01 {
        @include blob($dark, 30%, 1.25rem); 
        left: 10%;
    }

    &-contenedor {
        background-color: $violet;

        h2 {
            align-self: flex-start;
            text-align: left;
            margin-left: 1rem;
            color: $white;
        }

        .carrusel {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            i {
                font-size: 1.5rem;

                &:hover {
                    cursor: pointer;
                }
            }

            h3 {
                align-self: flex-start;
                text-align: center;
                margin: 1rem 0;
                margin-left: 15%;
                color: $white;
            }
    
            p {
                color: $white;
            }
            .proyectos {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 2rem;
    
                .proyecto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                
                    .devices{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        margin-bottom: 2rem;
    
                        &-desktop {
                            width: 55%;
                            position: relative;
                            margin-right: 2rem;
    
                            .desktop-img {
                                width: 75%;
                                position: absolute;
                                z-index: -1;
                            }
                        }
        
                        &-mobile {
                            width: 15%;
                            position: relative;
    
                            img {
                                width: 90%;
                                position: absolute;
                                top: 13%;
                                left: 5%;
                                z-index: -1;
                            }
                        }
    
                    }
                    p {
                        text-align: center;
                        width: 80%;
                        font-size: 1rem;
                    }  
                }
    
                &-iconos {
                    display: flex;
                    justify-content: space-around;
                    width: 30%;
                    margin-top: 1rem;

                    img {
                        height: 2.5rem;
                    }

                    svg {
                        fill: black;
                        height: 2.5rem;
                    }
                }
    
    
            }
        }




    }
}


/* .carrusel {
    width: 90%;
    height: 400px;
    background-color: $violet;
    overflow: hidden;

    .grande {
        width: 400%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        transition: all .5s ease ;
        transform: translateX(0%);

        .carrusel-img {
            width: calc(100%/4);
            background-color: $white;
        }
    }

} */

.carrusel {
    width: 90%;
    height: 400px;
    background-color: $violet;

    img {
        width: 100%;
        height: 100%;
    }

}