@import 'base/variables';
@import 'base/text';
@import 'base/contenedores';
@import 'components/main';
@import 'components/header';
@import 'components/footer';
@import 'components/ovni';
@import 'components/index';
@import 'components/queHago';
/* @import 'components/queHice'; */
@import 'components/quienSoy';
@import 'components/frontendModal';
@import 'components/backendModal';
@import 'components/creativoModal';
@import 'components/creativo';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}




